<div class="csr-dynamic-divPicture">
    <div class="csr-dynamic-move2 csr-dynamic-move " id="move1">
        <img src="images/timg1.jpg" alt="timg1">
        <img src="images/timg2.jpg" alt="timg2">
        <img src="images/timg3.jpg" alt="timg3">
        <img src="images/timg4.jpg" alt="timg4">
    </div>
</div>
<div class="csr-dynamic-divButton">
    <div class="csr-dynamic-buttons">
        <button class="csr-dynamic-but0" onclick="click()"></button>
        <button class="csr-dynamic-but1" onclick="click()"></button>
        <button class="csr-dynamic-but2" onclick="click()"></button>
        <button class="csr-dynamic-but3" onclick="click()"></button>
    </div>
</div>
<!--轮播图end-->
<!--动态-->
<div class="container">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            {{#each dynamic}}
                <!--一组动态-->
                <div class=" csr-dynamic-dyDiv" onclick="showAnDynamic({{dy_num}})">
                    <!--头像和用户名-->

                    <div class="csr-dynamic-head">
                        <img src="{{user_head}}" alt="头像dynamic_06" class="img-circle">
                        <div>
                            <p>{{user_name}}</p>
                            <p>{{dy_time}}</p>
                        </div>
                    </div>
                    <!--头像和用户名end-->
                    <!--内容正文-->
                    <div class="csr-dynamic-second">
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{dy_text}}
                        <p>
                    </div>
                    <!--内容正文end-->
                    <!--图片-->
                    <div class="csr-dynamic-third">
                        <img src="{{dy_p1}}" alt="dynamic_16">
                        <img src="{{dy_p2}}" alt="dynamic_16">
                        <img src="{{dy_p3}}" alt="dynamic_16">
                    </div>
                    <!--图片end-->
                    <!--右侧按钮-->
                    <div class="csr-dynamic-right">
                        <button id="csr-dynamic-spanThumbsUp{{dy_num}}" onclick="takeRed1({{dy_num}})">
                            <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                        </button>
                        <button id="csr-dynamic-spanCollection{{dy_num}}" onclick="takeRed2({{dy_num}})">
                            <span class=" glyphicon glyphicon-star" aria-hidden="true"></span>
                        </button>
                        <button id="csr-dynamic-spanFollow{{dy_num}}" onclick="takeRed3({{dy_num}})">
                            <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                        </button>
                    </div>
                    <!--右侧按钮end-->
                    <hr class="csr-dynamic-hr">
                    <div style="display: none" id="anDynamic{{dy_num}}">


                        <!--点赞显示-->
                        <div class="csr-dynamic-thumbUp">
                            <img src="images/dynamic_25.jpg" class="img-circle" alt="dynamic_25">
                            <p id="csr-dynamicP-{{dy_num}}"></p>
                        </div>
                        <!--点赞显示end-->
                        <!--评论显示-->
                        <div class="csr-dynamic-commentOld" id="csr-dynamic_comment{{dy_num}}">

                        </div>
                        <!--评论显示end-->
                        <!--输入评论框-->
                        <div class="csr-dynamic-commentNew">
                            <textarea cols="30" rows="5" onclick="textareaIn({{dy_num}})"
                                      id="csr-dynamic-textarea{{dy_num}}" class="inputOld"
                                      onkeyup="fontNumber({{dy_num}})">评论</textarea>
                            <p class="csr-dynamic-textareaP" id="csr-dynamic-P{{dy_num}}">你还可以输入<span
                                    id="csr-dynamic-count{{dy_num}}">150</span>个字符</p>
                            <button type="button" class="btn btn-warning csr-dynamic-counmentNewBut"
                                    id="csr-dynamic-NewBut{{dy_num}}" onclick="textSubmit({{dy_num}})">发表
                            </button>
                        </div>
                        <!--输入评论框end-->
                        <p>&nbsp;</p>
                    </div>
                </div>
            {{/each}}
            <div class="col-md-1"></div>
        </div>
    </div>
</div>

